@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: "Georgia", serif;
  --font-body: ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: theme("colors.background.base");
  color: theme("colors.text.primary");
}
